@model Product

<h2>@Model.ProductName</h2>

<div class="thumbnail">
    <img alt="@Model.ProductName" src="@Model.ProductImgUrl">
    <div class="caption-full">
        <h3>@Model.ProductName</h3>
        
        <a  class="btn btn-primary" 
            asp-controller="ShoppingCart" 
            asp-action="AddToShoppingCart" 
            asp-route-productId="@Model.ProductId"
        >Add To Order</a>
        
        <div class="pull-right">
            <h3>$@Model.ProductPrice.ToString("#,##0.00")</h3>
        </div>
        
        <h4>@Model.ProductShortDescription</h4>

        <p class>@Model.ProductLongDescription</p>
    </div>
</div>